.container {
  display: flex;
  flex-direction: column;
}

.types {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.image-container {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passives {
  font-size: 0.75rem;
  width: 70%;
}

.test {
  height: 10vh;
}

.against-container {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  justify-content: center;
}

.against {
  display: flex;
}

.strongAgainst {
  flex-grow: 1;
}

.reload {
  align-self: center;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-family: 'PressStart2P', BlinkMacSystemFont, Segoe UI, Roboto;
  font-size: 10px;
  padding: 0.5rem;
}
