.container {
  display: flex;
  flex-direction: column;
}

.types {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.image-container {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passives {
  font-size: 0.75rem;
  width: 70%;
}

.test {
  height: 10vh;
}

.against {
  display: flex;
  margin-top: 16px;
}

.strongAgainst {
  flex-grow: 1;
}
